.commonSubmitButton {
    background-color: #5a4ad1;
    color: white;
    width: 100%;
    margin-left: auto;
    border-style: none;
    font-size: 14px;
}

.commonSubmitButton:hover {
    background-color: #392f85;;
}

.commonSubmitButton:focus {
    background-color: #392f85;;
    box-shadow: none !important;
}
